@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Для коректної роботи rem */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Відключення масштабування тексту в мобільних браузерах */
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #000;
  background-color: #fff;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

p {
  font-family: "Inter", sans-serif;
}

[class*=__container] {
  margin: 0 auto;
}

.header {
  background-color: #fff8f2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  padding-top: 40px;
}
.header__logo {
  min-width: 178px;
  height: auto;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  width: 420px;
}
.header__nav-link {
  font-size: 18px;
  color: #1c0e0d;
  transition: color 0.3s ease, transform 0.3s ease;
}
.header__nav-link:hover {
  color: #ff553e;
}
.header__button-wrapper {
  display: flex;
  gap: 10px;
}

.button-type-1 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #ff553e;
  border-radius: 34px;
  border: 1px solid #ff553e;
  transition: background-color 0.4s ease, transform 0.4s ease;
}
.button-type-1:hover {
  color: #ffffff;
  background-color: #ff553e;
}
.button-type-1:active {
  transform: scale(0.9);
}

.button-type-2 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff553e;
  border: 1px solid #ff553e;
  border-radius: 34px;
  transition: background-color 0.3s ease, transform 0.4s ease;
}
.button-type-2:hover {
  color: #ff553e;
  background-color: #fff8f2;
}
.button-type-2:active {
  transform: scale(0.9);
}

.hero-section {
  padding-top: 220px;
  background-color: #fff8f2;
  background-image: url(../assets/images/background_hero-section.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.hero-section__container {
  text-align: center;
}
.hero-section__title {
  width: 800px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.40625;
  color: #1c0e0d;
}
.hero-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.hero-section__text {
  max-width: 596px;
  margin: 24px auto 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: #40201e;
  opacity: 0.8;
}
.hero-section__button {
  margin-top: 68px;
}
.hero-section__button--padding {
  padding: 24px 40px;
  border-radius: 40px;
}
.hero-section__statistics {
  position: relative;
  bottom: -1px;
  margin-top: 200px;
}
.hero-section__statistics-wrapper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 192px;
  padding: 94px 280px 60px 0;
  background-image: url(../assets/images/background_hero-section_statistics.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.hero-section__statistics-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #18063c;
}
.hero-section__statistics-text {
  font-size: 18px;
  color: #404040;
  opacity: 0.6;
}

.features-section {
  padding-top: 205px;
  background-image: url(../assets/images/rocket_features-section.png), url(../assets/icon/icon_decor.png);
  background-repeat: no-repeat;
  background-position: 80% 36%, 4% 10%;
}
.features-section__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 600;
}
.features-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.features-section__text {
  max-width: 659px;
  margin: 20px auto 0;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  opacity: 0.8;
  color: #404040;
}
.features-section__wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 64px;
}
.features-section__card {
  max-width: 369px;
  padding: 28px;
  border-radius: 48px;
}
.features-section__card--blue {
  background-color: #70d0dc;
}
.features-section__card--purple {
  background-color: #7562e0;
}
.features-section__card--orange {
  background-color: #fa865f;
}
.features-section__card-img {
  width: 88px;
  height: 88px;
  padding: 24px 23px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 1px 1px 0px #ffffff, inset -1px 1px 0px #ffffff;
}
.features-section__card-img img {
  width: 48px;
  height: 40px;
}
.features-section__card-title {
  margin-top: 24px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}
.features-section__card-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.8;
}

.reporting-section {
  padding-top: 195px;
  background-image: url(../assets/icon/icon_decor_type-3.png), url(../assets/icon/icon_decor_type-2.png);
  background-repeat: no-repeat;
  background-position: 270px 170px, 850px 770px;
}
.reporting-section__container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 816px;
}
.reporting-section__wrapper-content {
  max-width: 568px;
}
.reporting-section__title {
  margin-top: 48px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.4166666667;
  color: #18063c;
}
.reporting-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.reporting-section__text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 2;
  color: #404040;
  opacity: 0.8;
}
.reporting-section__list {
  padding-left: 112px;
}
.reporting-section__item {
  position: relative;
  margin-top: 48px;
}
.reporting-section__item--orange::before {
  content: "";
  position: absolute;
  left: -112px;
  top: 40%;
  transform: translateY(-50%);
  width: 88px;
  height: 88px;
  border-radius: 20px;
  background-color: #fa855c;
  background-image: url(../assets/icon/icon_time.png);
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.reporting-section__item--blue::before {
  content: "";
  position: absolute;
  left: -112px;
  top: 40%;
  transform: translateY(-50%);
  width: 88px;
  height: 88px;
  border-radius: 20px;
  background-color: #7ad6e1;
  background-image: url(../assets/icon/icon_settings.png);
  background-size: 48px;
  background-position: 58% 55%;
  background-repeat: no-repeat;
}
.reporting-section__item--yellow::before {
  content: "";
  position: absolute;
  left: -112px;
  top: 40%;
  transform: translateY(-50%);
  width: 88px;
  height: 88px;
  border-radius: 20px;
  background-color: #ffc954;
  background-image: url(../assets/icon/icon_check.png);
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.reporting-section__item-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2857142857;
  color: #404040;
}
.reporting-section__item-text {
  max-width: 300px;
  margin-top: 8px;
  font-size: 18px;
  line-height: 2;
  color: #404040;
  opacity: 0.8;
}
.reporting-section__wrapper-img {
  position: relative;
  margin-right: 240px;
  background-image: url(../assets/images/phone_reporting-section.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.reporting-section__wrapper-img::after {
  content: "";
  position: absolute;
  bottom: 100px;
  right: -40px;
  width: 780px;
  height: 616px;
  background-color: #fff8f2;
  z-index: -2;
}
.reporting-section__img-check-sheet {
  position: relative;
  top: -8%;
  left: 79%;
}
.reporting-section__img-total-taken {
  position: relative;
  top: -9%;
  left: -11%;
}
.reporting-section__img-sesion {
  position: relative;
  top: -26%;
  left: 45%;
}
.reporting-section__img-menu {
  position: relative;
  top: -27%;
  left: 24%;
}

.tracker-section {
  background-color: #f3fdfe;
  min-height: 600px;
  position: relative;
  margin-top: 140px;
}
.tracker-section__wrapper {
  margin: 0 auto;
  padding: 140px 20px 0 376px;
  box-sizing: border-box;
}
.tracker-section__title {
  font-weight: 600;
  font-family: "Poppins";
  color: #18063c;
  font-size: 48px;
  white-space: nowrap;
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: 212px 36px;
}
.tracker-section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  opacity: 0.8;
}
.tracker-section::after {
  position: absolute;
  content: "";
  display: block;
  width: 383px;
  height: 386px;
  background-image: url(../assets/images/search.png);
  background-repeat: no-repeat;
  top: 350px;
  z-index: 2;
}
.tracker-section::before {
  position: absolute;
  content: "";
  display: block;
  width: 375px;
  height: 352px;
  background-image: url(../assets/images/goal.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  top: -33px;
  right: 0;
  z-index: 2;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  margin-top: 64px;
  position: relative;
}
.dashboard::after {
  position: absolute;
  content: "";
  display: block;
  width: 89.07px;
  height: 124.5px;
  background-image: url(../assets/tracker-icon/sparrow-pink.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px;
  left: -80px;
  z-index: 3;
}
.dashboard::before {
  position: absolute;
  content: "";
  display: block;
  width: 89.07px;
  height: 124.5px;
  background-image: url(../assets/tracker-icon/sparrow-blue.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  top: 35px;
  right: 930px;
  z-index: 3;
}

.tracker-section__options {
  flex: 1 1 50%;
  max-width: 48%;
}

.tracker-section-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.tracker-section-list__card {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
.tracker-section-list__card--offset {
  transform: translateX(160px);
}
.tracker-section-list__icon {
  width: 116px;
  height: 116px;
}
.tracker-section-list__content {
  display: flex;
  flex-direction: column;
}
.tracker-section-list__title {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 28px;
  color: #404040;
}
.tracker-section-list__text {
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  line-height: 2;
  color: #404040;
  opacity: 0.8;
}

.statistics {
  flex: 1 1 50%;
  max-width: 50%;
  margin-top: -72px;
}
.statistics__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 35% 45%;
  grid-template-areas: "card1 card2" "card3 card2" ".     card2";
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.statistics__item {
  max-width: 682px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0px 32px 54px 0px rgba(65, 74, 85, 0.0509803922);
}
.statistics__item:hover {
  transform: translateY(-5px);
}
.statistics__item--first {
  grid-area: card1;
  width: 267.62px;
  height: 270.96px;
}
.statistics__item--second {
  grid-area: card2;
  width: 388.05px;
  height: 444.91px;
}
.statistics__item--third {
  grid-area: card3;
  width: 230.82px;
  height: 321.14px;
  margin-left: 35px;
}
.statistics__cards {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.tracker-section-list__text {
  font-weight: 400;
  font-family: "Inter";
  line-height: 2;
  color: #404040;
  opacity: 0.8;
}

.price-section__container {
  background-color: #fff;
  padding-top: 140px;
  margin-bottom: 160px;
}
.price-section__title {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  color: #18063c;
}
.price-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: right 24px bottom 9px;
}
.price-section__text {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 2;
  font-size: 18px;
  padding-top: 20px;
  color: #404040;
  opacity: 80%;
}
.price-section__switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 48px;
}
.price-section__switch-label {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
}
.price-section__cards {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  gap: 30px;
  position: relative;
}
.price-section__cards::after {
  content: "";
  position: absolute;
  background-image: url(../assets/images/Handd1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 332px;
  height: 332px;
  left: 0;
  top: 75%;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}
.price-section__cards::before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/hourglass.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 223px;
  height: 296px;
  left: calc(50% + 392px);
  top: -42px;
  z-index: 2;
  pointer-events: none;
}
.price-section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ff553e;
  border-radius: 80px;
  width: 470px;
  height: auto;
  z-index: 3;
  position: relative;
}
.price-section__card::before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/price-line.png);
  background-repeat: no-repeat;
  width: 136px;
  height: 217px;
  top: 20px;
  right: calc(0% - 180px);
  background-size: contain;
  z-index: -9;
}
.price-section__card--free {
  background-color: white;
}
.price-section__card--free .price-section__button {
  background-color: #ff553e;
  color: white;
  border: 1px solid #ff553e;
}
.price-section__card--free .price-section__button:hover {
  background-color: #e04b38;
}
.price-section__card--premium {
  background-color: #ff553e;
}
.price-section__card--premium .price-section__card--title,
.price-section__card--premium .price-section__features,
.price-section__card--premium .price-section__price,
.price-section__card--premium .price-section__features li {
  color: white;
  opacity: initial;
}
.price-section__card--premium .price-section__button {
  background-color: white;
  color: #ff553e;
  border: 1px solid white;
}
.price-section__card--premium .price-section__button:hover {
  background-color: #f5f5f5;
}
.price-section__card--title {
  font-size: 48px;
  padding-top: 64px;
  font-family: Inter;
  font-weight: 600;
  text-align: center;
  color: #404040;
}
.price-section__features {
  font-size: 28px;
  line-height: 1.8;
  color: #ff553e;
  opacity: 80%;
  text-align: center;
  padding-bottom: 64px;
  font-family: Inter;
  font-weight: 600;
  padding-top: 56px;
}
.price-section__price {
  font-weight: 500;
  text-align: center;
  padding-bottom: 64px;
  font-family: Inter;
  color: #404040;
}
.price-section__button {
  margin-bottom: 48px;
  padding: 24px 40px;
  border-radius: 35px;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.price-section__currency {
  font-size: 18px;
  opacity: 70%;
  line-height: 1.5;
  padding-right: 6px;
  position: relative;
  top: -28px;
}
.price-section__amount {
  font-weight: 700;
  font-size: 64px;
  padding-right: 8px;
}
.price-section__period {
  font-size: 18px;
  opacity: 40%;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.switch__input {
  display: none;
}
.switch__input:checked + .switch__slider {
  background-color: rgba(255, 85, 62, 0.2);
}
.switch__input:checked + .switch__slider:before {
  transform: translateX(26px);
}
.switch__slider {
  background-color: rgba(255, 85, 62, 0.2);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.switch__slider:before {
  background-color: #ff553e;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
.switch__slider--round {
  border-radius: 34px;
}
.switch__slider--round:before {
  border-radius: 50%;
}

.partners-section {
  padding: 120px 20px;
  background-color: #f8fefe;
}
.partners-section__container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1400px;
  gap: 100px;
  align-items: flex-start;
  justify-content: space-between;
}
.partners-section__cards {
  flex: 0 1 799px;
  display: grid;
  justify-items: flex-end;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.partners-section__card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.partners-section__card.soft-pink {
  grid-column: 1;
  grid-row: 1;
}
.partners-section__card.soft-yellow {
  grid-column: 1;
  grid-row: 2;
}
.partners-section__card.soft-green {
  grid-column: 2;
  grid-row: 2;
  margin-top: -260px;
  margin-right: 50px;
  z-index: 2;
  padding: 30px;
}
.partners-section__card.soft-blue {
  grid-column: 2;
  grid-row: 3;
  margin-top: -160px;
  z-index: 1;
  padding: 30px;
  margin-bottom: 80px;
}
.partners-section__card.soft-lavender {
  grid-column: 1;
  grid-row: 3;
}
.partners-section__content {
  flex: 0 0 525px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 128px;
}
.partners-section__item {
  font-size: 42px;
  font-weight: 600;
  color: #18063c;
  line-height: 1.4;
  margin-bottom: 24px;
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: 131px 28px;
}
.partners-section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #404040;
  opacity: 80%;
  padding-bottom: 48px;
}
.partners-section__button {
  border: 1px solid #ff553e;
  border-radius: 40px;
  padding: 24px 40px;
  font-style: Poppins;
  font-weight: 500;
  line-height: 1.5;
  color: #ff553e;
  cursor: pointer;
  width: 184px;
  height: 76px;
  transition: all 0.3s ease;
}
.partners-section__button:hover {
  background-color: #ff553e;
  color: white;
}

.client-section__container {
  position: relative;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 140px;
}
.client-section__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  margin-top: 173px;
  color: #18063c;
}
.client-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.client-section__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #404040;
  opacity: 80%;
  margin-top: 20px;
}
.client-section .comment {
  margin-top: 60px;
  display: flex;
  gap: 48px;
  text-align: left;
}
.client-section .comment__img {
  width: 298px;
  height: 379px;
}
.client-section .comment__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  color: #404040;
  opacity: 80%;
  margin-top: 65px;
}
.client-section .comment__author {
  font-size: 24px;
  font-weight: 500;
  color: #38363c;
  margin-top: 36px;
}
.client-section .comment__role {
  font-size: 18px;
  color: #38363c;
  opacity: 80%;
  margin-top: 16px;
}
.client-section .comment .dots {
  margin-top: 28px;
}
.client-section .comment .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ff553e;
  opacity: 20%;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.client-section__like-shape {
  width: 220px;
  height: 225px;
  position: absolute;
  top: -102px;
  left: -391px;
  z-index: -1;
}
.client-section__chat-shape {
  width: 196px;
  height: 200px;
  position: absolute;
  bottom: -24px;
  left: -185px;
  z-index: -1;
}
.client-section__emoji-shape {
  width: 126px;
  height: 123px;
  position: absolute;
  top: 475px;
  right: -210px;
  z-index: -1;
}
.client-section__arrow-vector {
  position: absolute;
  top: 30px;
  left: -250px;
  z-index: -2;
}
.client-section__diamond-vector {
  position: absolute;
  top: 537px;
  right: -278px;
  z-index: -2;
}

.get-it-section {
  background-color: #fff8f2;
  background-image: url(../assets/images/left_hand.png), url(../assets/images/right_hand.png);
  background-repeat: no-repeat;
  background-position: top left, right 300px;
  background-size: auto, 350px auto;
}
.get-it-section__container {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.get-it-section__title {
  margin-top: 248px;
  padding: 7px 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 70px;
  color: #18063c;
}
.get-it-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.get-it-section__text {
  max-width: 530px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 36px;
  color: #404040;
}
.get-it-section__button {
  margin-right: 20px;
}
.get-it-section__button svg {
  margin-top: 48px;
  width: 195px;
  height: 75px;
  border-radius: 40px;
  fill: #ff553e;
}
.get-it-section__button svg:hover {
  fill: #ffffff;
}
.get-it-section__phone {
  width: 405px;
  height: auto;
  margin-top: 100px;
}

.footer {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 60px;
}
.footer__container {
  text-align: center;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding-bottom: 61px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
}
.footer__nav ul {
  display: flex;
  gap: 48px;
}
.footer__nav-link {
  font-size: 18px;
  color: #1c0e0d;
  transition: color 0.3s ease;
}
.footer__nav-link:hover {
  color: #ff553e;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 46px;
}
.footer__social-media a {
  fill: #18063c;
  transition: all 0.3s ease;
}
.footer__social-media a:hover {
  fill: #5bc17f;
  transform: scale(1.2);
}
.footer__terms {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: #404040;
  font-size: 18px;
}
.footer__terms--center {
  transform: translateX(-50%);
  margin-left: -20%;
}

.modal {
  position: relative;
  left: calc(50% - 250px);
}
.modal__login-wrapper, .modal__sign-up-wrapper {
  position: absolute;
  bottom: auto;
  height: 840px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(134, 134, 134, 0.3);
  background-color: #fff8f2;
  text-align: center;
}
.modal__login-form, .modal__sign-up-form {
  width: 400px;
  margin: 0 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.modal__login-title-wrapper, .modal__sign-up-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.modal__login-title, .modal__sign-up-title {
  text-transform: uppercase;
  text-align: left;
}
.modal__closes {
  display: block;
}
.modal__closes svg {
  width: 24px;
  height: auto;
  fill: #ff553e;
  transition: all 0.3s ease;
}
.modal__closes svg:hover {
  fill: #5bc17f;
  transform: scale(1.2);
}
.modal__closes svg:active {
  transform: scale(0.9);
}
.modal__login-email, .modal__login-password, .modal__sign-up-email, .modal__sign-up-password, .modal__sign-up-repeat-password {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.modal__login-email--focus, .modal__login-password--focus, .modal__sign-up-email--focus, .modal__sign-up-password--focus, .modal__sign-up-repeat-password--focus {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #ff553e;
  border-radius: 10px;
  background-color: #ffffff;
}
.modal__login-email--focus:focus, .modal__login-password--focus:focus, .modal__sign-up-email--focus:focus, .modal__sign-up-password--focus:focus, .modal__sign-up-repeat-password--focus:focus {
  outline: none;
  box-shadow: 0 8px 20px rgba(134, 134, 134, 0.3);
}
.modal__login-remember, .modal__input-question {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
}
.modal__login-remember input, .modal__input-question input {
  width: 20px;
  margin: auto 20px auto 0;
  box-shadow: none;
}
.modal label {
  text-align: left;
}
.modal__login-button-wrapper, .modal__sign-up-button-wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.modal__login-button, .modal__sign-up-button {
  margin: 0 auto;
  width: 100%;
}
.modal__login-link {
  margin-top: 10px;
  text-align: right;
}
.modal__login-link:hover {
  color: #ff553e;
}
.modal__login-text, .modal__sign-up-text {
  padding-top: 5px;
  margin-top: 40px;
}
.modal__login-text--decor, .modal__sign-up-text--decor {
  margin: 60px auto;
  text-transform: uppercase;
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(64, 64, 64, 0.4);
  border-radius: 10px;
}
.modal__login-text--decor:after, .modal__sign-up-text--decor:after {
  content: "";
  position: absolute;
  left: 40px;
  right: auto;
  bottom: 50%;
  width: 600%;
  height: 1px;
  background-color: rgba(64, 64, 64, 0.4);
}
.modal__login-text--decor::before, .modal__sign-up-text--decor::before {
  content: "";
  position: absolute;
  left: auto;
  right: 40px;
  bottom: 50%;
  width: 600%;
  height: 1px;
  background-color: rgba(64, 64, 64, 0.4);
}
.modal__login-social-media, .modal__sign-up-social-media {
  display: flex;
  justify-content: space-around;
}
.modal__login-social-media a, .modal__sign-up-social-media a {
  fill: #ff553e;
  transition: all 0.3s ease;
}
.modal__login-social-media a:hover, .modal__sign-up-social-media a:hover {
  fill: #5bc17f;
  transform: scale(1.2);
}
.modal__login-social-media svg, .modal__sign-up-social-media svg {
  width: 26px;
  height: auto;
}
.modal__login-sing-up {
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.modal__login-sing-up:hover {
  color: #5bc17f;
  transform: scale(1.2);
}/*# sourceMappingURL=styles.css.map */