@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Для коректної роботи rem */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; /* Відключення масштабування тексту в мобільних браузерах */
}

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Або інший базовий шрифт */
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

[class*=__container] {
  margin: 0 auto;
}

.header {
  background-color: #fff8f2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  padding-top: 40px;
}
.header__logo {
  min-width: 178px;
  height: auto;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  width: 420px;
}
.header__nav-link {
  font-size: 18px;
  color: #1c0e0d;
  transition: color 0.3s ease, transform 0.3s ease;
}
.header__nav-link:hover {
  color: #ff553e;
}
.header__button-wrapper {
  display: flex;
  gap: 10px;
}

.button-type-1 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #ff553e;
  border-radius: 34px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-type-1:hover {
  color: #ffffff;
  background-color: #ff553e;
  border-radius: 34px;
}
.button-type-1:active {
  transform: scale(0.9);
}

.button-type-2 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff553e;
  border-radius: 34px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button-type-2:hover {
  color: #ff553e;
  background-color: #fff8f2;
}
.button-type-2:active {
  transform: scale(0.9);
}

.hero-section {
  padding-top: 220px;
  background-color: #fff8f2;
  background-image: url(../assets/images/background_hero-section.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.hero-section__container {
  text-align: center;
}
.hero-section__title {
  width: 800px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.40625;
  color: #1c0e0d;
}
.hero-section__title--accent {
  background-image: url(../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.hero-section__text {
  max-width: 596px;
  margin: 24px auto 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: #40201e;
  opacity: 0.8;
}
.hero-section__button {
  margin-top: 68px;
}
.hero-section__button--padding {
  padding: 24px 40px;
  border-radius: 40px;
}
.hero-section__statistics {
  position: relative;
  bottom: -1px;
  margin-top: 200px;
}
.hero-section__statistics-wrapper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 192px;
  padding: 94px 280px 60px 0;
  background-image: url(../../assets/images/background_hero-section_statistics.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.hero-section__statistics-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #18063c;
}
.hero-section__statistics-text {
  font-size: 18px;
  color: #404040;
  opacity: 0.6;
}

.features-section {
  padding-top: 205px;
  background-image: url(../../assets/images/rocket_features-section.png), url(../../assets/icon/icon_decor.svg);
  background-repeat: no-repeat;
  background-position: 80% 36%, 4% 10%;
}
.features-section__title {
  text-align: center;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 600;
}
.features-section__title--accent {
  background-image: url(../../assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.features-section__text {
  max-width: 659px;
  margin: 20px auto 0;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  opacity: 0.8;
  color: #404040;
}
.features-section__wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 64px;
}
.features-section__card {
  max-width: 369px;
  padding: 28px;
  border-radius: 48px;
}
.features-section__card--blue {
  background-color: #70d0dc;
}
.features-section__card--purple {
  background-color: #7562e0;
}
.features-section__card--orange {
  background-color: #fa865f;
}
.features-section__card-img {
  width: 88px;
  height: 88px;
  padding: 24px 23px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 1px 1px 0px #ffffff, inset -1px 1px 0px #ffffff;
}
.features-section__card-img img {
  width: 48px;
  height: 40px;
}
.features-section__card-title {
  margin-top: 24px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}
.features-section__card-text {
  margin-top: 10px;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.8;
}

.tracker-section {
  background-color: #f3fdfe;
  min-height: 600px;
  position: relative;
}
.tracker-section .tracker-section__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 376px;
  padding-top: 140px;
  padding-right: 20px;
  box-sizing: border-box;
}
.tracker-section__title {
  font-weight: 600;
  font-family: "Poppins";
  color: #18063c;
  font-size: 48px;
  white-space: nowrap;
}
.tracker-section__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
}

.tracker-section::after {
  position: absolute;
  content: "";
  display: block;
  width: 383px;
  height: 386px;
  background-image: url(/assets/images/search.png);
  background-repeat: no-repeat;
  top: 350px;
  z-index: 2;
}

.tracker-section::before {
  position: absolute;
  content: "";
  display: block;
  width: 375px;
  height: 352px;
  background-image: url(/assets/images/goal.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  top: -33px;
  right: 0;
  z-index: 2;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 160px;
  margin-top: 64px;
  position: relative;
}

.dashboard::after {
  position: absolute;
  content: "";
  display: block;
  width: 89.07px;
  height: 124.5px;
  background-image: url(/assets/tracker-icon/sparrow-pink.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  top: 270px; /* или нужное значение */
  left: -80px;
  z-index: 3;
}

.dashboard::before {
  position: absolute;
  content: "";
  display: block;
  width: 89.07px;
  height: 124.5px;
  background-image: url(/assets/tracker-icon/sparrow-blue.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px; /* или нужное значение */
  right: 490px;
  z-index: 3;
}

.tracker-section__options,
.statistics {
  flex: 1 1 50%;
  max-width: 48%;
}

.tracker-section-list {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.tracker-section-list__card {
  display: flex;
  align-items: flex-start; /* выравнивание по верхнему краю */
  gap: 32px;
}

.tracker-section-list__card:nth-child(2) {
  transform: translateX(110px);
}

.tracker-section-list__content {
  display: flex;
  flex-direction: column;
}

.tracker-section-list__title {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
}

.tracker-section-list__text {
  font-weight: 400;
  font-family: "Inter";
  line-height: 2;
  color: #404040;
}

.statistics {
  display: flex;
  flex: 1 1 50%;
  max-width: 50%;
}

.statistics__list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* две колонки */
  grid-template-rows: auto auto auto;
  grid-template-areas: "card1 card2" "card3 card2" ".     card2";
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.statistics__item:nth-child(1) {
  grid-area: card1;
}

.statistics__item:nth-child(2) {
  grid-area: card2;
}

.statistics__item:nth-child(3) {
  grid-area: card3;
}

.statistics__item {
  max-width: 682px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0px 32px 54px 0px rgba(65, 74, 85, 0.0509803922);
}

.statistics__item:hover {
  transform: translateY(-5px);
}/*# sourceMappingURL=styles.css.map */