//стилі кольорів
$color-white: #ffffff;
$color-dark-maroon: #1c0e0d;
$color-coral: #ff553e;
$color-ivory: #fff8f2;
$color-chestnut: #40201e;
$color-midnight-purple: #18063c;
$color-charcoal: #404040;
$color-ice-blue: #f3fdfe;

//стилі розміру тексту $fs-X-G де $fs font-size, X-розмів при десктоп, G-розмір при мобільній версії

$fs-64-28: 64px;
$fs-48-64: 48px;
$fs-48-24: 48px;
$fs-28-18: 28px;
$fs-26-20: 26px;
$fs-20-16: 20px;
$fs-18-16: 18px;
$fs-18: 18px; //не адаптивний
