//стилі кольорів
$color-white: #ffffff;
$color-dark-maroon: #1c0e0d;
$color-coral: #ff553e;
$color-ivory: #fff8f2;
$color-chestnut: #40201e;
$color-midnight-purple: #18063c;
$color-charcoal: #404040;
$color-ice-blue: #f3fdfe;
$color-social: #18063c;
$color-social-hover: #5bc17f;

//стилі розміру тексту $fs-X-G де $fs font-size, X-розмір при десктоп, G-розмір при мобільній версії

$fs-64-28: clamp(28px, 28px + 36 * (100vw - 320px) / 1980, 64px);
$fs-48-64: clamp(48px, 64px - 16 * (100vw - 320px) / 1980, 64px);
$fs-48-24: clamp(24px, 24px + 24 * (100vw - 320px) / 1980, 48px);
$fs-28-18: clamp(18px, 18px + 10 * (100vw - 320px) / 1980, 28px);
$fs-26-20: clamp(20px, 20px + 6 * (100vw - 320px) / 1980, 26px);
$fs-24-20: clamp(20px, 20px + 4 * (100vw - 320px) / 1980, 24px);
$fs-20-16: clamp(16px, 16px + 4 * (100vw - 320px) / 1980, 20px);
$fs-18-16: clamp(16px, 16px + 2 * (100vw - 320px) / 1980, 18px);
$fs-18: 18px; //не адаптивний
$fs-16: 16px; //не адаптивний
