@use '../utils/variables' as *;

.client-section {
  &__container {
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 140px;
  }

  &__title {
    font-weight: 600;
    font-size: $fs-48-24;
    line-height: 1.5;
    margin-top: 173px;
    color: $color-midnight-purple;

    &--accent {
      background-image: url(../assets/images/Shape.png);
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: $fs-18;
    line-height: 2;
    color: $color-charcoal;
    opacity: 80%;

    margin-top: 20px;
  }

  .slider--comment {
    position: relative;

    .slider__wrapper {
      display: flex;
    }

    .slider__pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 40px;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $color-coral;
    opacity: 0.2;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .comment {
    display: flex;
    gap: 48px;
    text-align: left;
    margin-top: 60px;

    &__img-wrapper {
      position: relative;
      width: 298px;
      height: 379px;
      flex-shrink: 0;
    }

    &__shape {
      width: 100%;
      height: 100%;
    }

    &__avatar {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &__content {
      flex: 1;
    }

    &__text {
      font-size: $fs-20-16;
      font-weight: 400;
      line-height: 1.8;
      color: $color-charcoal;
      opacity: 0.8;
      margin-top: 65px;
    }

    &__author {
      font-size: $fs-24-20;
      font-weight: 500;
      color: #38363c;
      margin-top: 36px;
    }

    &__role {
      font-size: $fs-18-16;
      color: #38363c;
      opacity: 0.8;
      margin-top: 16px;
    }
  }

  &__like-shape {
    width: 220px;
    height: 225px;
    position: absolute;
    top: -102px;
    left: -391px;
    z-index: -1;
  }
  &__chat-shape {
    width: 196px;
    height: 200px;
    position: absolute;
    bottom: -24px;
    left: -185px;
    z-index: -1;
  }
  &__emoji-shape {
    width: 126px;
    height: 123px;
    position: absolute;
    top: 475px;
    right: -210px;
    z-index: -1;
  }
  &__arrow-vector {
    position: absolute;
    top: 30px;
    left: -250px;
    z-index: -2;
  }
  &__diamond-vector {
    position: absolute;
    top: 537px;
    right: -278px;
    z-index: -2;
  }
}
