@use "../utils/variables" as *;

.get-it-section {
  background-color: $color-ivory;
  background-image: url(../../assets/images/left_hand.png),
    url(../../assets/images/right_hand.png);
  background-repeat: no-repeat;
  background-position: top left, right 300px;
  background-size: auto, 350px auto;

  &__container {
    display: flex;
    justify-content: center;
    gap: 120px;
  }

  &__title {
    margin-top: 248px;
    padding: 7px 0;
    font-weight: 600;
    font-size: $fs-48-24;
    line-height: 70px;
    color: $color-midnight-purple;

    &--accent {
      background-image: url(../assets/images/Shape.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100%;
    }
  }

  &__text {
    max-width: 530px;
    margin-top: 24px;
    font-size: $fs-20-16;
    line-height: 36px;
    color: $color-charcoal;
  }

  &__button {
    margin-right: 20px;
    & svg {
      margin-top: 48px;
      width: 195px;
      height: 75px;
      border-radius: 40px;
      fill: $color-coral;

      &:hover {
        fill: $color-white;
      }
    }
  }

  &__phone {
    width: 405px;
    height: auto;
    margin-top: 100px;
  }
}
