@use "../utils/variables" as *;

.hero-section {
  padding-top: 220px;
  background-color: $color-ivory;
  background-image: url(../assets/images/background_hero-section.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  &__container {
    text-align: center;
  }

  &__title {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 700;
    font-size: $fs-64-28;
    line-height: calc(90px / 64px);
    color: $color-dark-maroon;

    &--accent {
      background-image: url(../assets/images/Shape.png);
      background-repeat: no-repeat;
      background-position: bottom left;
    }
  }
  &__text {
    max-width: 596px;
    margin: 24px auto 0;
    font-weight: 400;
    font-size: $fs-20-16;
    line-height: calc(36px / 20px);
    color: $color-chestnut;
    opacity: 0.8;
  }
  &__button {
    cursor: pointer;
    display: block;
    width: 260px;
    margin: 102px auto 0;

    &--padding {
      padding: 24px 40px;
      border-radius: 40px;
    }
  }
  &__statistics {
    position: relative;
    bottom: -1px;
    margin-top: 200px;
  }
  &__statistics-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
    gap: 120px;
    padding: 56px 0 42px;
    background-color: $color-white;
    border-top-right-radius: 120px;
    overflow: hidden;
    background-image: linear-gradient($color-white, $color-white),
      url(../assets/images/background_hero-section_statistics.png);
    background-size: 100% 100%, auto 100%;
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
  }

  &__statistics-item {
    text-align: center;
  }

  &__statistics-title {
    font-size: $fs-48-24;
    font-weight: 600;
    line-height: calc(56px / 48px);
    color: $color-midnight-purple;
  }
  &__statistics-text {
    font-size: $fs-18;
    color: $color-charcoal;
    opacity: 0.6;
  }
}
