@use "../utils/variables" as *;

.price-section {
  &__container {
    background-color: #fff;
    padding-top: 140px;
    // background-image: url(../assets/images/price-bg.png);
    // background-position: 82% 189px;
    // background-color: transparent;
    // background-repeat: no-repeat;
    margin-bottom: 160px;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: $fs-64-28;
    color: $color-midnight-purple;
    // background-image: (url(../assets/images/Shape.png));
    // background-repeat: no-repeat;
    // background-position: 1182px 50px;
    &--accent {
      background-image: url(../assets/images/Shape.png);
      background-repeat: no-repeat;
      background-position: right 24px bottom 9px;
    }
  }

  &__text {
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 2;
    font-size: $fs-18;
    padding-top: 20px;
    color: $color-charcoal;
    opacity: 80%;
  }

  &__switch {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-top: 48px;
    }

    &-label {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.1;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../assets/images/Handd1.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 332px;
      height: 332px;
      left: 0;
      top: 75%;
      transform: translateY(-50%);
      z-index: 2;
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(../assets/images/hourglass.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 223px;
      height: 296px;
      left: calc(50% + 392px);
      top: -42px;
      z-index: 2;
      pointer-events: none;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-coral;
    border-radius: 80px;
    width: 470px;
    height: auto;
    z-index: 3;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url(../assets/images/price-line.png);
      background-repeat: no-repeat;
      width: 136px;
      height: 217px;
      top: 20px;
      right: calc(0% - 180px);
      background-size: contain;
      z-index: -9;
    }

    &--premium {
      background-color: $color-coral;

      .price-section__card--title,
      .price-section__features,
      .price-section__price,
      .price-section__features li {
        color: white;
        opacity: initial;
      }
    }

    &--title {
      font-size: $fs-48-24;
      padding-top: 64px;
      font-family: Inter;
      font-weight: 600;
      text-align: center;
      color: #404040;
    }
  }

  &__features {
    font-size: $fs-28-18;
    line-height: 1.8;
    color: $color-coral;
    opacity: 80%;
    text-align: center;
    padding-bottom: 64px;
    font-family: Inter;
    font-weight: 600;
    padding-top: 56px;
  }

  &__price {
    font-weight: 500;
    text-align: center;
    padding-bottom: 64px;
    font-family: Inter;
    color: #404040;
  }

  &__button {
    width: 400px;
    margin-bottom: 48px;
    padding: 24px 40px;
    border-radius: 40px;
  }

  &__currency {
    font-size: $fs-18-16;
    opacity: 70%;
    line-height: 1.5;
    padding-right: 6px;
    position: relative;
    top: -28px;
  }

  &__amount {
    font-weight: 700;
    font-size: $fs-64-28;
    padding-right: 8px;
  }

  &__period {
    font-size: $fs-18-16;
    opacity: 40%;
  }
}

.switch {
  $self: &;

  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;

  &__input {
    display: none;

    &:checked + #{$self}__slider {
      background-color: #ff553e33;

      &:before {
        transform: translateX(26px);
      }
    }
  }

  &__slider {
    background-color: #ff553e33;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;

    &:before {
      background-color: $color-coral;
      bottom: 4px;
      content: "";
      height: 26px;
      left: 4px;
      position: absolute;
      transition: 0.4s;
      width: 26px;
    }

    &--round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
