@use "../utils/variables" as *;
.button-type-1 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-coral;
  border-radius: 34px;
  border: 1px solid $color-coral;
  background-color: $color-ivory;
  transition: background-color 0.4s ease, transform 0.4s ease;

  &:hover {
    color: $color-white;
    background-color: $color-coral;
  }

  &:active {
    transform: scale(0.9);
  }
}
.button-type-2 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-white;
  border-radius: 34px;
  border: 1px solid $color-coral;
  background-color: $color-coral;
  transition: background-color 0.3s ease, transform 0.4s ease;

  &:hover {
    color: $color-coral;
    background-color: $color-ivory;
  }
  &:active {
    transform: scale(0.9);
  }
}

.button-login,
.button-sign-up {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-coral;
  border-radius: 37px;
  border: 1px solid $color-coral;
  transition: background-color 0.4s ease, transform 0.4s ease;

  &:hover {
    color: $color-white;
    background-color: $color-coral;
  }

  &:active {
    transform: scale(0.9);
  }
}
