@use "../utils/variables" as *;
.button-type-1 {
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-coral;
  border-radius: 34px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: $color-white;
    // background-color: $color-coral;
    // border-radius: 34px;
  }

  &:active {
    transform: scale(0.9);
  }

  &:hover::after {
    transform: translateX(-130px);
  }
  

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -135px;
    z-index: -1;
    width: 120px;
    height: 60px;
    background-color: $color-coral;
    border-radius: 34px;
    transition: transform 0.3s ease;
  }


}

.button-type-2 {
  cursor: pointer;
  z-index: 1;
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-white;
  // background-color: $color-coral;
  border-radius: 34px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  // &:hover {
  //   color: $color-coral;
  //   background-color: $color-ivory;
  // }
  &:active {
    transform: scale(0.9);
  }
}
