@use "../utils/variables" as *;
.button-type-1 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-coral;
  border-radius: 34px;
  border: 1px solid $color-coral;
  background-color: $color-ivory;
  transition: background-color 0.4s ease, transform 0.4s ease;

  &:hover {
    border: 1px solid $color-ivory;
    color: $color-white;
    background-color: $color-coral;
  }

  &:active {
    transform: scale(0.9);
  }
}
.button-type-2 {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-white;
  border-radius: 34px;
  border: 1px solid $color-coral;
  background-color: $color-coral;
  transition: background-color 0.3s ease, transform 0.4s ease;

  &:hover {
    color: $color-coral;
    background-color: $color-ivory;
  }
  &:active {
    transform: scale(0.9);
  }
}

.button-login,
.button-sign-up {
  padding: 16px 32px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: $fs-18-16;
  color: $color-coral;
  border-radius: 37px;
  border: 1px solid $color-coral;
  transition: background-color 0.4s ease, transform 0.4s ease;

  &:hover {
    color: $color-white;
    background-color: $color-coral;
  }

  &:active {
    transform: scale(0.9);
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0.8;
  transition: opacity 0.3s;

  &_visible {
    opacity: 0.8;
    display: flex;
  }

  &:hover {
    opacity: 1 !important;
    transform: translateY(-3px);
  }
}
