@use "../utils/variables" as *;
@use "../utils/mixin" as *;

.modal,
.modal-price-selection {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% - 35px);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  z-index: 2000;

  &.active {
    display: flex;
  }

  &__price-selection-wrapper {
    display: none;
    position: relative;
    bottom: auto;
    display: grid;
    @include adaptive-clamp(width, 288, 400, 320, 480);
    max-height: calc(100% - 35px);
    margin: 40px auto 0;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(134, 134, 134, 0.3);
    background-color: $color-ivory;
    text-align: center;

    &.active {
      display: block;
    }
  }

  &__price-selection-logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & svg {
      display: block;
      height: 24px;
      width: 24px;
      margin-top: 20px;
      margin-right: 20px;
    }

    & img {
      display: block;
      height: 36px;
      width: auto;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  &__price-selection-title {
    width: 75%;
    margin: 40px auto 0;
    text-transform: uppercase;
    color: $color-midnight-purple;
  }

  &__price-selection-text {
    width: 75%;
    padding-top: 5px;
    margin: 20px auto;
    color: $color-charcoal;
    opacity: 0.7;

    &--decor {
      margin: 20px auto;
      text-transform: uppercase;
      position: relative;
      height: 40px;
      width: 40px;
      border: 1px solid rgba(64, 64, 64, 0.4);
      border-radius: 10px;
      &:after {
        content: "";
        position: absolute;
        left: 40px;
        right: auto;
        bottom: 50%;
        @include adaptive-clamp(width, 100, 140, 320, 480);
        height: 1px;
        background-color: rgba(64, 64, 64, 0.4);
      }

      &::before {
        content: "";
        position: absolute;
        left: auto;
        right: 40px;
        bottom: 50%;
        @include adaptive-clamp(width, 100, 140, 320, 480);
        height: 1px;
        background-color: rgba(64, 64, 64, 0.4);
      }
    }
  }
  &__price-selection-button-wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__price-selection-button {
    width: 120px;
    height: 67px;
    padding: 10px 20px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: $fs-18-16;
    color: $color-coral;
    border-radius: 34px;
    border: 1px solid $color-coral;
    background-color: $color-ivory;
    transition: background-color 0.4s ease, transform 0.4s ease;

    &:hover {
      border: 1px solid $color-ivory;
      color: $color-white;
      background-color: $color-coral;
    }

    &:active {
      transform: scale(0.9);
    }

    & svg {
      width: 80px;
      height: 50px;
      padding: 0;
      border-radius: 40px;
      fill: $color-coral;

      &:hover {
        fill: $color-white;
      }
    }
  }
}
