@use "../utils/variables" as *;

body {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

p {
  font-family: "Inter", sans-serif;
}

[class*="__container"] {
  margin: 0 auto;
}
