body.no-scroll {
  overflow: hidden;
}

p {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  text-decoration-line: underline;
  text-decoration-color: #ff553e;
  text-decoration-thickness: 0.14em;
  text-underline-offset: -0.06em;
  text-decoration-skip-ink: none;
}

[class*="__container"] {
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}
